# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Metroidvania.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Josh\Documents\GitHub\Metroidvania\.idea\.idea.Metroidvania\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
